<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017–2021 Company Name</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a
                href="https://wa.me/50672059415/?text=Prueba para enviar mensajes desde la pagina"
                target="_Blank">Support</a></li>
    </ul>
</footer>
</div>
<script src="/js/form.js"></script>
</body>

</html>